<aside class="span3">
	<div class="affix">
	<section id="badge">
		<h1>
			<%= image_tag(@blog.favicon_url, alt: @blog.name, size: "22x22", class: "favicon") %>
			<%= @blog.name %>
		</h1>
		<h3>WEBSITE<br> <%= link_to(@blog.url, @blog.url) %></h3>
	</section>
		<ul class="nav nav-pills">
			<% if current_user.likes?(@blog) %>
				<li class="blue">
					<%= link_to(follow_blog_path(@blog), method: :post) do %>
						Unfollow
						<%= image_tag('error.png') %>
					<% end %>
			<% else %>
				<li class="green">
					<%= link_to(follow_blog_path(@blog), method: :post) do %>
						Follow
						<%= image_tag('plus.png') %>
					<% end %>
			<% end %>
			</li>
			<li>	
				<%= link_to('#') do %>
					<%= 'Follower'.pluralize(@blog.liked_by_count) %>
					<div class="letter-icon"><%= @blog.liked_by_count %></div>
				<% end %>
			</li>
			<li>
				<%= link_to('#') do %>
					<%= 'Post'.pluralize(@blog.posts.length) %>
					<div class="letter-icon"><%= @blog.posts.length %></div>
				<% end %>
			</li>
		</ul>
	</div>
</aside>