<div class="player span12">
	<div class="border">
	<div class="album_art">
		<%= link_to(song.url, class: "fap-single-track", data: {autoenqueue: "yes"}) do %>
			<%= image_tag(song.icon_url.blank? ? 'muse_logo.png' : song.icon_url, size: '98x98') %>
			<span><%= image_tag('play-black.png', size: '60x60') %></span>
		<% end %>
	</div>
	<div class="metadata">
		<h1><span class="label label-important genre"><%= song.genre %></span><%= !song.genre.blank? ? " #{song.title}" : song.title  %></h1>
		<h2><%= song.artist %></h2>
		<span>
			<% if !post.blank? %>
				<span class="badge">
					<%= image_tag(blog.favicon_url, size: "18x18") %>
					<%= link_to(blog.name, blog) %>
				</span>
				<%= raw(truncate(strip_tags(" #{post.content}"), :length => 250, :omission => "... #{link_to('[more]', post.url)}"))%>
			<% else %>
				<span class="badge">
					<h3 class="badge-text">Posted On</h3> 
					<% song.posts.select(:blog_id).uniq.each do |post| %>
						<% blog = Blog.find(post.blog_id) %>
						<%= link_to_function(image_tag(blog.favicon_url, size: "18x18"), '$(this).next("a").toggle("slow")') %>
						<%= link_to(blog.name, blog, class: "hidden") %>
					<% end %>
				</span>
			<% end %>
		</span>
	</div>
	<ul class="nav nav-tabs nav-stacked ratings">
		<li class=<%= current_user.likes?(song) ? "selected" : "unselected" %>>
			<%= link_to(like_song_path(song), class: "like", method: :post) do %>
				<i class="icon-thumbs-up icon-large"></i>
			<% end %>
		</li>
		<li class=<%= current_user.bookmarks?(song) ? "selected" : "unselected" %>>
			<%= link_to(favorite_song_path(song), class: "favorite", method: :post) do %>
				<i class="icon-heart icon-large"></i>
			<% end %>
		</li>
		<li class=<%= current_user.dislikes?(song) ? "selected" : "unselected" %>>
			<%= link_to(dislike_song_path(song), class: "dislike", method: :post) do %>
				<i class="icon-thumbs-down icon-large"></i>
			<% end %>
		</li>
	</ul>
	<div class="stats">
		<span class="favorites"><%=song.times_favorited%></span>
		<span class="likes"><%=song.liked_by_count%></span>
		<span class="dislikes"><%=song.disliked_by_count%></span>
	</div>
	</div>
</div>
</div>