<% provide(:title, @user.name) %>
<%# content_for :javascript_includes do %>
  <%#= javascript_include_tag "tour.js" %>
<%# end %>
<script type="text/javascript">
	//set here the swf folder
	soundManager.url = '/swf/';
	//need to be flash player 9
	soundManager.flashVersion = 9;
	//prefer HTML5 audio rather than flash
	soundManager.useHTML5Audio = true;
	//no debugging
	soundManager.debugMode = false;
	$(document).ready(function(){
	  	$('#fap').fullwidthAudioPlayer({opened: false});
	});
</script>
<code class="help affix">
	<a href="#tour" role="button" data-toggle="modal"><i class="icon-question-sign icon-3x"></i></a>
</code>
<div class="container inner">
	<div class="row-fluid">
		<%= render 'sidebar' %>
		<div class="span9">
			<div id="feed">
				<span class="header">Musefeed</span>
				<div id="fap">
					<% @posts.each do |post| %>
						<% post.songs.each do |song| %>
							<%= link_to '', song.url  %>
						<% end %>
					<% end %>
				</div>
				<%= render 'posts' %>
			</div>
			<div class="span12" id="append_and_paginate">
				<%= will_paginate @posts %>
			</div>
		</div>
	</div>
</div>
<%= render 'help' %>